
body{
  background-image: url("../images/newsprint-cc.jpg");
  background-repeat: no-repeat;
 } 

a, h1 {
   font-family: 'Quattrocento Sans', sans-serif;
   /* font-family: 'Special Elite', cursive; */
   /* font-family: 'Poiret One', cursive; */
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
