<nav>
    <div class="nav-wrapper grey lighten-4">
      <a href="#" class="brand-logo left black-text">{{pageTitle}}</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
         <li><a class='black-text' href="scrapeArticles.html">Scrape Articles</a></li>
        <li><a class='black-text' href="saved_articles.html">Saved Articles</a></li>
        {{!-- <li><a class='black-text' href="notes.html">Notes</a></li> --}}
        <li><a class='black-text' href="clear_articles.html">Clear Articles</a></li>
      </ul>
    </div>
  </nav>