<nav>
    <div class="nav-wrapper grey lighten-4">
      <a href="/" class="brand-logo left black-text">{{title}}</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
         {{!-- <li><a id="scrapeNav" class='black-text' href="scrapeArticles">Scraped Articles</a></li> --}}
        {{!-- <li><a id="saveNav" class='black-text' href="savedArticles">Saved Articles</a></li> --}}
        {{!-- <li><a class='black-text' href="notes.html">Notes</a></li> --}}
        <li><a class='black-text' href="clearArticles">Clear Articles</a></li>
      </ul>
    </div>
  </nav>