{{> navbar}}

<h1 class="center-align"><span class="grey lighten-5">scrape & save articles</span></h1>

<div class="center-align">
    <div class='row s12 m6'>
<a class="waves-effect waves-light btn">scrape now</a>
<a class="waves-effect waves-light btn">saved articles</a>
    </div>
</div>

{{> footer}}
