{{> navbar}}

<h1 class="center-align"><span class="grey lighten-5">scrape & save articles</span></h1>

<div class="center-align">
    <div class='row s12 m6'>
<a id="scrape" class="waves-effect waves-light btn" href="scrapeArticles">scrape now</a>
<a id="saved" class="waves-effect waves-light btn" href="savedArticles">saved articles</a>
    </div>
</div>

{{!-- {{> footer}} --}}
