{{> navbar}}

<h1 class="center-align"><span class="grey lighten-5">scrape &amp; save articles</span></h1>

<div id="bothButtons" class="center-align">
    <div class='row s12 m6'>
        <button id='scrapeArticles' class="waves-effect waves-light btn">get scraping</button>
        <button id='savedArticles' class="waves-effect waves-light btn">see what's saved</button>

{{#each articles}}
<div class="row" id="scrapArticlesAndNotes">

  <div class="col s12 m5">
    <div class="card-panel grey lighten-5">
      <div id='title'>{{title}}</div>
      <div id='summary'>{{summary}}
      </div>
      <div id='link'>{{link}}</div>
      <a id="saved" class="waves-effect waves-light btn btn-flat">save article</a>
    </div>
  </div>

    <div class="col m1"></div>

    <div class="col s12 m5">
      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="input-field col s12">
              <textarea id="textarea1" class="materialize-textarea grey lighten-5" data-length="500"></textarea>
              <label for="textarea1">Notes</label>
               <a class="waves-effect waves-light btn" id="saveNote">save note</a>
            </div>
          </div>
        </form>
      </div>

    </div>
{{/each}}

    
</div>
</div>

{{!-- {{> footer}} --}}